/* ===============================================================
 * Companion Studio Coding Challenge
 * Author:  Cemal Okten
 * Github: https://github.com/cemalokten/
 * Language: CSS
================================================================== */

* {
  /* Fit content within frame of window */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --vh: 1vh;
  --bg--colour: rgb(235, 235, 235);
  --colour: rgb(0, 0, 0);
}

@font-face {
  font-family: 'Lab Mono Web';
  src: url('./fonts/labmono-regular-web.woff2') format('woff2'), url('./fonts/labmono-regular-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Salmanazar-Bold';
  src: url('./fonts/SalmanazarTrial-Bold.otf') format('opentype');
  font-weight: medium;
  font-style: medium;
}

html {
  color: var(--colour);
  background-color: var(--bg--colour);

  font-size: 0.9rem;
  font-family: Lab Mono Web;
}

html,
body {
  position: relative;
  display: flex;

  min-height: 100%;
  height: 100%;

  overflow-x: hidden;
  overscroll-behavior-y: contain; /* For Chrome Adderess Bar */
}

body {
  font-size: 1.3rem;
}

section {
  overflow: none;
}

footer {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 / 10.7);
  position: absolute;
}

footer {
  bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  font-family: Salmanazar-Bold;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex--full {
  flex: 1;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--align--center {
  align-items: center;
}

.flex--justify--center {
  justify-content: center;
}

.flex--space--between {
  justify-content: space-between;
  align-items: center;
}

.flex--box--inner {
  position: absolute;
  width: inherit;
  height: inherit;
  padding: 2rem;

  border-radius: inherit;

  font-family: Lab Mono Web;

  cursor: grab;
  transition: background-color 0.2s ease-in;
}

.flex--box--outer {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 / 5.5);
  justify-content: center;
  align-items: center;
  position: relative;

  border-radius: 0;

  z-index: 50;
  background-color: transparent;
}

.flex--box--text {
  cursor: pointer;
}

.info--container {
  position: absolute;
  height: 100%;
  width: 100vw;
  color: var(--colour);
  z-index: 999;
}

.info--container--block {
  height: calc(var(--vh, 1vh) * 100 / 5.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no--copy {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.blur {
  filter: blur(3em);
}

.padding {
  padding: 0 1.2rem 0 1.2rem;
}

.hidden {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

#reload {
  visibility: hidden;
}

#share {
  width: 2rem;
}

.item--1::before {
  content: 'SWIPE ↓ FOR NEW COLOURS';
}

.item--2::before {
  content: 'SWIPE ↑ TO MOVE BLOCK UP';
}

.item--3::before {
  content: 'SWIPE ← OR → TO CHANGE COLOUR ';
}

.item--4::before {
  content: 'CLICK # CODE TO COPY';
}

.item--5::before {
  content: 'CLICK SAVE TO COPY ALL';
}

@media (min-width: 1200px) {
  .padding {
    padding: 0 3rem 0 3rem;
  }

  .item--1::before {
    content: '';
  }

  .item--2::before {
    content: '';
  }

  .item--3::before {
    content: 'FOR FULL FUNCTIONALITY PLEASE VIEW ON A MOBILE DEVICE';
  }

  .item--4::before {
    content: '';
  }

  .item--5::before {
    content: '';
  }

  #reload {
    visibility: visible;
  }
}
