/* ===============================================================
 * Companion Studio Coding Challenge
 * Author:  Cemal Okten
 * Github: https://github.com/cemalokten/fac-application-website
 * Language: CSS
================================================================== */

* {
  /* Fit content within frame of window */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --vh: 1vh;
}

@font-face {
  font-family: 'Lab Mono Web';
  src: url('./fonts/labmono-regular-web.woff2') format('woff2'), url('./fonts/labmono-regular-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Salmanazar-Bold';
  src: url('./fonts/SalmanazarTrial-Bold.otf') format('opentype');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Regular.otf') format('opentype');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/ApercuMonoPro-Regular-Trial.woff2') format('woff2');
  font-weight: medium;
  font-style: medium;
}

html {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  font-family: Lab Mono Web;
}

li {
  list-style: none;
  line-height: 7em;
}

body {
  font-size: 1.3rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  overscroll-behavior-y: contain;

  display: flex;
}

.blur {
  filter: blur(1em);
}

main {
}

section {
  overflow: none;
}

header,
footer {
  /* filter: blur(0.1em); */
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 / 10.7);
  position: absolute;
}

footer {
  bottom: 0;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: normal;
  font-family: Salmanazar-Bold;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex--full {
  flex: 1;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--center--2 {
  align-items: center;
}

.flex--space--between {
  justify-content: space-between;
  align-items: center;
}

.padding {
  padding: 0 1.2rem 0 1.2rem;
}

.flex--elipse {
  position: absolute;
  padding: 2rem;
  justify-content: center;
  font-family: Lab Mono Web;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transition: all 0.5s;
  cursor: grab;
  transition: all 0.5s;
}

.drag--box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 / 5.5);
  border-radius: 0;
  transition: transform 1s;
  z-index: 50;
  background-color: transparent;
}

.drag--box:first-child {
  margin-top: 0;
}

/* .drag--box.over {
  filter: drop-shadow(0 0 0.75rem crimson);
} */

/* .flex--elipse:first-child {
  margin-top: 0;
} */

.info--container {
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100vw;
  position: absolute;
  background-color: rgba(150, 150, 150, 0.5);
  z-index: 999;
}

.hidden {
  visibility: hidden;
}

.info--container--block {
  height: calc(var(--vh, 1vh) * 100 / 5.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--elipse.over {
  filter: drop-shadow(0 0 0.75rem crimson);
}

.flex--elipse--text {
  cursor: pointer;
}

.no--copy {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.pointer {
  cursor: pointer;
}

/* @media (min-width: 1025px) {
  body {
    font-size: 1rem;
  }

  .flex--elipse {
    justify-content: space-around;
    margin-top: 0;
    height: 30rem;
    width: 8rem;
    margin-left: 3rem;
  }

  .flex--elipse:first-child {
    margin-left: 0;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex--row {
    flex-direction: column;
  }
} */
