/* ===============================================================
 * Companion Studio Coding Challenge
 * Author:  Cemal Okten
 * Github: https://github.com/cemalokten/fac-application-website
 * Language: CSS
================================================================== */

* {
  /* Fit content within frame of window */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey: #f8f8f8;
}

@font-face {
  font-family: 'Lab Mono Web';
  src: url('./fonts/labmono-regular-web.woff2') format('woff2'), url('./fonts/labmono-regular-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Salmanazar-Bold';
  src: url('./fonts/SalmanazarTrial-Bold.otf') format('opentype');
  font-weight: medium;
  font-style: medium;
}

html {
  background-color: rgb(228, 228, 228);
  color: white;
}

body {
  font-size: 1rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* html,
body {
  overscroll-behavior-y: contain;
} */

main {
  min-height: 100vh;
}

section {
  overflow: none;
}

header,
footer {
  width: 100vw;
  height: 4rem;
  position: absolute;
}

footer {
  bottom: 0;
}

h1,
h2 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: Salmanazar-Bold;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--elipse {
  position: absolute;
  padding: 2rem;
  justify-content: center;
  font-family: Lab Mono Web;
  width: 1000px;
  height: inherit;
  border-radius: 50%;

  transition: all 0.5s;
  cursor: grab;
  transition: all 0.5s;

  /* overflow: none;
  padding: 2rem;
  justify-content: center;
  font-family: Lab Mono Web;
  width: 150vw;
  height: 9rem;
  border-radius: 50%;
  margin-top: -1.2rem;
  margin-top: -3rem;
  transition: all 0.5s; */
}

.drag--box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -1rem;
  position: relative;
  width: 100vw;
  height: 18vh;
  border-radius: 0;
  transition: transform 1s;
  z-index: 50;
}

.drag--box:first-child {
  margin-top: 0;
}

/* .drag--box.over {
  filter: drop-shadow(0 0 0.75rem crimson);
} */

/* .flex--elipse:first-child {
  margin-top: 0;
} */

.flex--elipse.over {
  filter: drop-shadow(0 0 0.75rem crimson);
}

.flex--elipse--text {
  cursor: pointer;
}

.no--copy {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.blank--15 {
  width: 16px;
}

/* @media (min-width: 1025px) {
  body {
    font-size: 1rem;
  }

  .flex--elipse {
    justify-content: space-around;
    margin-top: 0;
    height: 30rem;
    width: 8rem;
    margin-left: 3rem;
  }

  .flex--elipse:first-child {
    margin-left: 0;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex--row {
    flex-direction: column;
  }
} */
